#extension-browser-border-root>* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#extension-browser-border-root>.w96-menubar {
    background: var(--extension-browser-border-primary);
    color: var(--extension-browser-border-secondary);
}

#extension-browser-border-root {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Lexend', sans-serif;
}

#extension-browser-border-menu,
#extension-browser-border-titlebar {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    background: var(--extension-browser-border-primary);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#extension-browser-border-titlebar {
    background: var(--extension-browser-border-secondary);
}

#extension-browser-border-tab-menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex: 1;
    overflow-x: auto;
}

#extension-browser-border-tab-container::-webkit-scrollbar {
    display: none;
}

#extension-browser-border-tab-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-overflow-style: none;
    /* IE 11 */
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    /* Firefox 64 */
}

.extension-browser-border-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--extension-browser-border-secondary);
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    min-width: 4rem;
    border-radius: 1rem;
    height: 80%;
    margin: 15px 10px;
    background: var(--extension-browser-border-primary);
    /*
	-webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;*/
    overflow: hidden;
	padding-left:1rem;
}

.extension-browser-border-tab > div:first-of-type{
	flex-grow:1;
	flex-shrink:1;
	min-width:0;
}

.extension-browser-border-favicon{
	width:1.5rem;
	height:1.5rem;
	box-sizing:border-box;
	margin-right:.5rem;
	display:none;
}


.extension-browser-border-view {
    display: none;
}

#extension-browser-border-add-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--extension-browser-border-secondary);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 50px;
    min-height: 40px;
    min-width: 40px;
    background: var(--extension-browser-border-primary);
}

#extension-browser-border-add-button>h2 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#extension-browser-border-search-button,
.extension-browser-border-history-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--extension-browser-border-primary);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    min-height: 35px;
    min-width: 35px;
    background: var(--extension-browser-border-secondary);
    margin: 0 8px;
}

.extension-browser-border-tab.extension-browser-border-current {
    border-radius: 1rem 1rem 0 0;
    transform: translateY(8px);
}

.extension-browser-border-view.extension-browser-border-current {
    display: block;
}

#extension-browser-border-searchbar {
    border: none;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 999px;
    color: var(--extension-browser-border-primary);
    background: var(--extension-browser-border-secondary);
}

#extension-browser-border-search-input-container{
	display:flex;
	position:relative;
	width:100%;
}

#extension-browser-border-clear-search-button{
    position: absolute;
    right: 2rem;
    background: rgba(0,0,0,.25);
    z-index: 3;
    top: 1.825rem;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
	cursor:pointer;
}
#extension-browser-border-clear-search-button:hover{
	background: rgba(0,0,0,.6);
}


#extension-browser-border-view-container,
.extension-browser-border-view {
    width: 100%;
    height: 100%;
    border: none;
    background: white;
}

.extension-browser-border-title,
.extension-browser-border-close-btn,
#extension-browser-border-search-button,
#extension-browser-border-add-button,
.extension-browser-border-history-btn,
.extension-browser-border-ctrl-btn {
    cursor: pointer;
}

.extension-browser-border-title,
.extension-browser-border-close-btn,
#extension-browser-border-search-button,
#extension-browser-border-add-button,
.extension-browser-border-history-btn,
#extension-browser-border-searchbar,
.extension-browser-border-ctrl-btn {
    font-size: 15px;
	
}

.extension-browser-border-title{
	max-width:calc(100% - 1.5rem);
	flex-shrink:1;
	white-space: nowrap;
}

.extension-browser-delete-list-item-button,
.extension-browser-border-close-btn{
	min-width:2.5rem;
	width:2.5rem;
	height:2.5rem;
	text-align:center;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.extension-browser-border-close-btn:hover{
	background-color:rgba(0,0,0,.7);
}

#extension-browser-border-root path[class *="border-svg-icon"] {
    fill: var(--extension-browser-border-primary);
}

#extension-browser-border-root path.extension-browser-border-svg-icon-close,
#extension-browser-border-root path.extension-browser-border-svg-icon-add {
    fill: var(--extension-browser-border-secondary);
}



.extension-browser-delete-list-item-button{
	background-color:rgba(255,255,255,.3);
}

