<div id="extension-browser-content">
    
    <div id="extension-browser-content-container">

        <div id="extension-browser-main">
		    <div id="extension-browser-border-root">
		        <div id="extension-browser-border-titlebar">
		            <div id="extension-browser-border-tab-menu">
		                <div id="extension-browser-border-tab-container">

		                </div>
		                <div id="extension-browser-border-add-button" class="extension-browser-nodrag">
		                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 44 44" fill="none">
		                        <path class="extension-browser-border-svg-icon-add" d="M27 17V0H17V17H0V27H17V44H27V27H44V17H27Z" fill="#66239A" />
		                    </svg>
		                </div>
		            </div>
		        </div>

		        <div id="extension-browser-border-menu" class="extension-browser-nodrag">
		            <div class="extension-browser-border-history-btn border-history-back">
		                <svg xmlns="http://www.w3.org/2000/svg" width="7.25" height="10.75" viewBox="0 0 29 43" fill="none">
		                    <path class="extension-browser-border-svg-icon" d="M0 21.2132L21.2131 42.4264L28.2842 35.3553L14.1421 21.2132L28.2842 7.07104L21.2131 0L0 21.2132Z" fill="#66239A" />
		                </svg>
		            </div>
		            <div class="extension-browser-border-history-btn border-history-forward">
		                <svg xmlns="http://www.w3.org/2000/svg" width="7.25" height="10.75" viewBox="0 0 29 43" fill="none">
		                    <path class="extension-browser-border-svg-icon" d="M29 21.7868L7.78687 0.573607L0.715823 7.64468L14.8579 21.7868L0.715821 35.929L7.78687 43L29 21.7868Z" fill="#66239A" />
		                </svg>
		            </div>
		            <div class="extension-browser-border-history-btn border-history-refresh">
		                <svg xmlns="http://www.w3.org/2000/svg" width="11.25" height="11.25" viewBox="0 0 45 45" fill="none">
		                    <path class="extension-browser-border-svg-icon" d="M45 20V0L38.4099 6.59011C35.2632 3.44343 31.2541 1.30051 26.8895 0.432343C22.525 -0.435825 18.001 0.00975001 13.8896 1.71272C9.77828 3.41569 6.26427 6.29957 3.79193 9.99968C1.3196 13.6998 0 18.0499 0 22.5C0 26.9501 1.3196 31.3002 3.79193 35.0003C6.26427 38.7004 9.77828 41.5843 13.8896 43.2873C18.001 44.9903 22.525 45.4358 26.8895 44.5677C31.2541 43.6995 35.2632 41.5566 38.4099 38.4099L31.3388 31.3388C29.5907 33.087 27.3634 34.2775 24.9386 34.7598C22.5139 35.2421 20.0005 34.9946 17.7165 34.0485C15.4324 33.1024 13.4801 31.5003 12.1066 29.4446C10.7331 27.389 10 24.9723 10 22.5C10 20.0277 10.7331 17.611 12.1066 15.5554C13.4801 13.4998 15.4324 11.8976 17.7165 10.9515C20.0005 10.0054 22.5139 9.75788 24.9386 10.2402C27.3634 10.7225 29.5907 11.913 31.3388 13.6612L25 20H45Z" fill="#66239A" />
		                </svg>
		            </div>

		            <input id="extension-browser-border-searchbar" placeholder="Enter an URL..."></input>

		            <div id="extension-browser-border-search-button">
		                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10.75" viewBox="0 0 40 43" fill="none">
		                    <path class="extension-browser-border-svg-icon" d="M18.071 0L39.2842 21.2132L18.071 42.4264L11 35.3553L20.3552 26H0V16H19.929L11 7.07108L18.071 0Z" fill="#66239A" />
		                </svg>
		            </div>
		        </div>
		        <div class="extension-browser-appbar"></div>

		        <div id="extension-browser-border-view-container" class="extension-browser-nodrag">

		        </div>
		    </div>
        </div>
        
        
        <div id="extension-browser-overview" class="extension-browser-hidden">
            <h3>Live bookmarks</h3>
            <ul id="extension-browser-tiles-list"></ul>
			
            <input id="extension-browser-tiles-file-selector"  accept=".gif,.png,.jpg,.jpeg,image/gif,image/png,image/jpeg" type="file" />
            <div id="extension-browser-tiles-file-selector-overlay">&nbsp;</div>
           
            <div id="extension-browser-response">
                <p id="extension-browser-response-data"></p>
            </div>
			
        </div>
        
    </div>
</div>





